mixin messageForm(cssName, placeholder, message, buttonText)
  if session
    .write(name='#write', class=cssName)
      form(method='post')
        textarea(name='text', class='writeable submittable', placeholder=placeholder)= message
        input(type='hidden', name='reply_to', value='', class='reply_to')
        input(type='hidden', name='_csrf', value=csrf)
        .form-action-wrapper
          span.counter= charLimit
          button(type='submit', class='submittable', title=buttonText)= buttonText
          a(href='javascript:;', class='close', title='Cancel') Cancel
        ol.suggestions(class='writeable')

html
  head
    title NoodleApp
    meta(content='minimal-ui, width=device-width, height=device-height, user-scalable=no, initial-scale=0.96, maximum-scale=0.96, minimum-scale=0.96', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/logo-72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/logo-114.png')
    link(rel='apple-touch-icon', sizes='128x128', href='/images/logo-128.png')
    link(rel='stylesheet', href='/stylesheets/main.css?20170307a')

  body(data-url=url, data-username=loggedUsername, data-sessionid=loggedInId, class=darkerTheme +' '+ mediaOn +' '+ highContrast, data-charlimit=charLimit)
    #hush

    if session
      #map-menu
        h2 Keyboard Shortcut Reference
        ul
          li ESC (close overlay / this menu too!)
          li cmd+enter or ctrl+enter (post a message)
          li n (start a new post)
          li k (move up feed)
          li j (move down feed)
          li t (open thread)
          li s (star post)
          li r (reply to post)
          li p (repost)
          li q (quote)
          li d (delete your post)
          li f (follow user at selected post)
          li u (unfollow user at selected post)
        .tag
          a(href='javascript:;', id='menu-toggle', title='Keyboard Shortcuts') ?

    header
      a.home(href='/') NoodleApp

      if session
        block tabs
        ul
          li
            a(href='#', id='notifications', title='Notifications', class='') 0
          li
            a(href='javascript:;', id='settings', title='Settings') Settings
            ul.submenu
              li
                a(href='/user/'+session.username+'/', title='View Profile') View Profile
              li
                a(href='javascript:;', id='settings-link', title='Edit settings') Edit Settings
              li
                a(href='https://github.com/33mhz/noodleapp/issues', title='Submit Issues', target='_blank') Submit Issues
              li
                a(href='/logout', title='Sign out') Log out

    if session
      ol#notifications-preview
        li

    #dashboard
      a(name='#top')
      if session
        #overlay
          +messageForm('overlay-write', 'Reply', '', 'Reply')
          .inner-overlay
        #flash-message
      .dashboard-content
        block content

    footer

    if session
      script(src='/javascripts/require.js', data-main='/javascripts/main')
