mixin messageForm(cssName, placeholder, message)
  if session
    .write(name='#write', class='#{cssName}')
      form(method='post')
        textarea(name='text', class='writeable', placeholder='#{placeholder}')= message
        input(type='hidden', name='reply_to', value='', class='reply_to')
        input(type='hidden', name='_csrf', value='#{csrf}')
        span.counter 256
        button(type='submit') Post
        ol.suggestions(class='writeable')

!!! 5
html
  head
    title NoodleApp
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/logo-72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/logo-114.png')
    link(rel='apple-touch-icon', sizes='128x128', href='/images/logo-128.png')
    link(rel='stylesheet', href='/stylesheets/main.css')

  body(data-url='#{url}', data-sessionid='#{loggedInId}', class='#{mediaOn}')
    #hush

    header
      a.home(href='/') NoodleApp

      if session
        a(href='/logout', id='logout', title='Sign out') Log out
        a(href='#', id='settings-link', title='Settings') Settings
        a(href='/user/#{session.username}', id='profile-link', title='Profile') Profile
        a(href='#', id='notifications', title='Notifications', class='') 0

    if session
      ol#notifications-preview
        li

    #dashboard
      a(name='#top')
      if session
        #overlay
          mixin messageForm('overlay-write', 'Reply', '')
          .inner-overlay
      #flash-message
      .dashboard-content
        block content

    footer

    script(src='/javascripts/require.js', data-main='/javascripts/main')
