extend layout

block content
  .message-wrapper
    h1 Recent Messages

    ul#message-summary
      for channel in channels
        li
          a(href='javascript:;', class='channel', data-action='message', data-username='@#{channel.owner.username}', data-id='#{channel.id}', title='@#{channel.owner.username}')
            img(src='#{channel.owner.avatar_image.url}?h=200', class='avatar')
            span= channel.owner.name
    ul#message-detail

    .write.channel-message
      form(method='post', class='channel-message-form')
        span.tip Usernames must start with @ and are required if you are starting a new private channel
        label(for='destinations', id='recipients') Recipients
          input(type='text', name='destinations', value='', id='destination', placeholder='Optional usernames (space-delimited)', autocomplete='off')
        textarea(name='text', class='writeable submittable', placeholder='Enter your message')
        input(type='hidden', name='channel_id', id='channel-id', value='', autocomplete='off')
        input(type='hidden', name='_csrf', value='#{csrf}')
        .form-action-wrapper
          span.counter= charLimit
          button(type='submit', class='submittable', title='Send') Send
          a(href='javascript:;', class='close', title='Cancel') Cancel
        ol.suggestions(class='writeable')
