extend layout

block tabs
  .tabs.long
    a.user-posts.selected(data-url='/user/posts/#{user.id}', data-action='user-posts', href='javascript:;', title='Recent', class='initial') Recent
    a.user-mentions(data-url='/user/mentions/#{user.id}', data-action='user-mentions', href='javascript:;', title='Mentions') Mentions
    a.user-starred(data-url='/user/starred/#{user.id}', data-action='user-starred', href='javascript:;', title='Starred') Starred

block content
  #profile(style='background-image: url(#{user.content.cover_image.link});')
    img(src='#{user.content.avatar_image.link}?h=200')
    .user-info
      h2= user.name
      if session && (user.id !== session.id)
        h3.small
          if user.follows_you
            = 'Follows you'
          else
            = 'Does not follow you'
      a(class='following', href='javascript:;', title='Following') Following #{user.counts.following}
      a(class='followers', href='javascript:;', title='Followers') Followers #{user.counts.followers}

      .action-buttons(data-userid='#{user.id}', data-username='#{user.username}')
        if session && (user.id !== session.id)
          if user.you_follow
            a(class='follow on', href='javascript:;', title='Unfollow') Unfollow
          else
            a(class='follow', href='javascript:;', title='Follow') Follow
          if user.you_muted
            a(class='mute on', href='javascript:;', title='Unmute') Unmute
          else
            a(class='mute', href='javascript:;', title='Mute') Mute
      p= 'Posts: ' + user.counts.posts

      p!= description.replace(/\n/gm, '<br>')
  mixin messageForm('profile', 'Write a message to @' + username, '@' + username + ' ', 'Post')

  section
    ol#unread-messages
      h2
      ol
    ol.messages(data-userid='#{user.id}')
