extend layout

block content
  #profile(style='background-image: url(#{user.cover_image.url});')
    img(src='#{user.avatar_image.url}')
    .user-info
      h2= user.name
      if session && (user.id !== session.id)
        h3.small
          if user.follows_you
            = 'Follows you'
          else
            = 'Does not follow you'
      h3(class='following') Following #{user.counts.following}
      h3(class='followers') Followers #{user.counts.followers}

      ol.action-buttons(data-userid='#{user.id}', data-username='#{user.username}')
        if session && (user.id !== session.id)
          if user.you_follow
            li(class='follow on') Unfollow
          else
            li(class='follow') Follow
          if user.you_muted
            li(class='mute on') Unmute
          else
            li(class='mute') Mute
      p= 'Posts: ' + user.counts.posts

      p!= description.replace(/\n/gm, '<br>')
  mixin messageForm('profile', 'Write a message to @' + username, '@' + username + ' ', 'Post')

  section
    ol.tabs
      li.user-posts.selected(data-url='/user/posts/#{user.id}')
        a(href='javascript:;', title='Recent') Recent
      li.user-mentions(data-url='/user/mentions/#{user.id}')
        a(href='javascript:;', title='Mentions') Mentions
      li.user-starred(data-url='/user/starred/#{user.id}')
        a(href='javascript:;', title='Starred') Starred

    ol#unread-messages
      h2
      ol
    ol.messages(data-userid='#{user.id}')
