h1 Settings

form(method='post', action='/settings', autocomplete='off')
  ol.message-summary.settings-details
    li
      ul
        li
          label(for='user[name]') Name
          input(name='user[name]', type='text', value=name)
        li#user-local-item
          label(for='user[locale]') Language
          select(name='user[locale]')
            each language in languages
              option(value=language.value, selected=(language.value === locale))= language.name

        li#user-timezone-item
          label(for='user[timezone]', class='clear') Timezone
          div#user-timezone-picker
            input#user-timezone(name='user[timezone]', value=timezone)

        li
          label(for='user[description]', class='clear') Description
          textarea(name='user[description]') #{description}

        each toggle in toggleSettings
          li
            a.settings-toggle(href='#', title='', class=(locals[toggle.name] === 'true' ? 'on' : ''))
              span #{toggle.description}
              input(type='hidden', name='user[' + toggle.name + ']', value=locals[toggle.name])

      li.buttons
        button(type='submit') Save
        a(href='javascript:;', class='close') Close

  input(type='hidden', name='_csrf', value=csrf)
